@page
@model IndexModel
@{
    ViewData["Title"] = "Search";
}

    <h1>Bus Search</h1>
  
<form method="post" id="bus-search">
    <input asp-for="Postcode"/>
    <button type="submit"><span class="material-symbols-rounded">
        search
    </span></button>
</form>